:root {
    --primary:rgb(65, 11, 65);
    --secondary:white;
    --tertiary:rgb(180, 177, 177);
}

* {
    text-decoration:none;
    
    
}

nav  {
    margin: 20px;
    display:flex;
    justify-content:space-between;
    align-items:center;
}

#timer {
    font-size: 15px;
    font-family:Arial, Helvetica, sans-serif;
    padding-right: 7px;
    font-weight:lighter;
}

#scoreStorage{
color:var(--primary);

}

#container {
    display:inline-flex;
    justify-content:center;
    align-items:center;
    flex-wrap:wrap;
    margin: 5% 20% 5% 20%;
    text-align:center;
}



button {
    background-color:var(--primary);
    color:var(--secondary);
    border-radius:30px;
    border:none;
    padding:10px;

}

#quiz,#gameOver{
    display:none;
    justify-content:center;
    align-items:center;
    flex-wrap:wrap;
    margin: 5% 20% 5% 20%;
    text-align:center;

}

#msg {
    display:none;
    color: var(--tertiary);
    border-top: var(--tertiary) 2px solid;
    padding-top: 10px;
    margin: 10px 25% 0;
}

#scorePage{
    display:none;
    justify-content:center;
    align-items:center;
    flex-wrap:wrap;
    text-align:center;
    
}

#scoreBox {
    padding: 100px;
    border: var(--primary) 2px solid;
    margin: 5% 20% 5% 20%;
    flex-wrap:wrap;
}