:root {
    --primary:rgb(65, 11, 65);
    --secondary:white;
}

* {
    text-decoration:none;
    
    
}

nav  {
    margin: 20px;
    display:flex;
    justify-content:space-between;
    align-items:center;
}

#timer {
    font-size: 15px;
    font-family:Arial, Helvetica, sans-serif;
    padding-right: 7px;
    font-weight:lighter;
}

#highscore {
color:var(--primary);
text-decoration: underline;
}

#container {
    display:inline-flex;
    justify-content:center;
    align-items:center;
    flex-wrap:wrap;
    margin: 5% 20% 5% 20%;
    text-align:center;
}



button {
    background-color:var(--primary);
    color:white;
    border-radius:30px;
    border:none;
    padding:10px;

}

#quiz{
    display:none;
    justify-content:center;
    align-items:center;
    flex-wrap:wrap;
    margin: 5% 20% 5% 20%;
    text-align:center;

}

#msg {
    display:none;
    color: rgb(180, 177, 177);
    border-top: rgb(180, 177, 177) 2px solid;
    padding-top: 10px;
    margin-top: 10px;
    margin-left: 25%;
    margin-right: 25%;
}